.ContestAndIcpc {
  color: #00aaff;
  display: flex;
  justify-content: space-between;
}
.ContestAndIcpc .imgsection .OTCIMG {
  width: 12em;
  height: 12em;
}

.ContestAndIcpc .imgsection {
  display: flex;
  flex-direction: column;
}

.ContestAndIcpc .imgsection .IcpcButton {
  background-color: #02a24b;
  color: white;
  padding: 15px 20px;
  border-radius: 40px;
  margin-top: 30px;
  text-decoration: none;
  cursor: pointer;
}

.ContestAndIcpc .writing {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.ContestAndIcpc .writing .CompetitionCollect {
  margin-bottom: 30px;
}

.ContestAndIcpc .writing .toggleButton1 {
  color: red;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.ContestAndIcpc .writing .toggleButton2 {
  color: red;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.ContestAndIcpc .hiddenpage2 {
  color: yellowgreen !important;
}

.ContestAndIcpc .hiddenpage {
  color: yellowgreen !important;
}
