.Himain .hiarc-img {
  display: flex;
  object-fit: cover;
  justify-content: space-between;
  flex: 1;
}

.Himain .hiarc-img img {
  width: 300px;
  justify-content: center;
}

.Himain .hiarc-img .Button {
  display: flex;
  flex-direction: column;
  margin-top: 34px;
  text-align: right;
}

.Himain .hiarc-img .Button section {
  color: #00aaff;
  border: none;
   text-decoration: underline;
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
}

.Header .HI_ARC {
  cursor: pointer;
}
